<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/pinni-vamshi/clipen-releases/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>iV2kAkE2DdAm05CxPs20Hw3Z6qYEWEyrswJX7ndOb80=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>InputMethodConnectionName</key>
	<string>ClipenInput</string>
	<key>InputMethodServerControllerClass</key>
	<string>ClipboardInputController</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.clipen.inputmode.ASCII</key>
			<dict>
				<key>TISIntendedLanguage</key>
				<string>en</string>
				<key>TISInputSourceIsEnableCapable</key>
				<true/>
				<key>TISInputSourceIsSelectCapable</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
